$_black: #000;
$_dove-gray: #c5c2c2;
$_tomatoe: #ff6347;
$_transparent: rgba;
$_white: #fff;


$primary-color: $_white;
$primary-dark-color: $_dove-gray;

$background-transparent: $_transparent;
$background-light-color: $_dove-gray;

$text-color: $_black;
$text-alert-color: $_tomatoe;

$border-color: $_black;
