@import "../settings/colors";

.user-type-card {
    flex: 1 1 0px;
    text-align: center;
    border: solid 1px $border-color;
    position: relative;
    padding: 20px 0 40px;
}
.active::after{
    content: '✔';
    position: absolute;
    top: 0;
    right: 0;
    background-color: $_black;
    color: $_white;
    padding: 3px;
    border-radius: 50%;
    transform: translate(50%, -50%);
}